// Colors
$clr1: #000000;
$clr2: #737373;
$clr3: #0095F6;
$clr4: #00376B;
$clr5: #3143E3;
$danger-color: #ed4956;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;